CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user*
ClazyPlugin.cbp
cmake_install.cmake
lib/
compile.output
test.output
Makefile
*.o
dump.ast
install_manifest.txt
*_fixed.cpp
empty.o*
compile_fixed.output
*.o-*
*.compile_output
*.out
*.result
/tests/clazy/test_requested_checks.sh.output
*.ast
/clazy
clazylib_export.h
output.log
/clazy.bat
/bin/*
/build/
clazy.1
/dev-scripts/*.log
clanglazy_export.h
CPackConfig.cmake
CPackSourceConfig.cmake
*.yaml
*.fixed
checks.json.h
.ninja*
*.ninja
.cmake
