[Desktop Entry]
Name=Clazy
Name[ca]=Clazy
Name[ca@valencia]=Clazy
Name[cs]=Clazy
Name[de]=Clazy
Name[el]=Clazy
Name[en_GB]=Clazy
Name[es]=Clazy
Name[et]=Clazy
Name[eu]=Clazy
Name[fr]=Clazy
Name[gl]=Clazy
Name[hi]=क्लेज़ी (Clazy)
Name[it]=Clazy
Name[ko]=Clazy
Name[lt]=Clazy
Name[nl]=Clazy
Name[nn]=Clazy
Name[pt]=Clazy
Name[pt_BR]=Clazy
Name[ro]=Clazy
Name[ru]=Clazy
Name[sk]=Clazy
Name[sl]=Clazy
Name[sv]=Clazy
Name[uk]=Clazy
Name[x-test]=xxClazyxx
Name[zh_TW]=Clazy
Exec=clazy
Icon=clazy
Type=Application
Categories=Development;
