[Desktop Entry]
Name=Clazy
Name[ca]=Clazy
Name[en_GB]=Clazy
Name[es]=Clazy
Name[nl]=Clazy
Name[pt]=Clazy
Name[pt_BR]=Clazy
Name[sk]=Clazy
Name[sv]=Clazy
Name[uk]=Clazy
Name[x-test]=xxClazyxx
Name[zh_TW]=Clazy
Exec=clazy
Icon=clazy
Type=Application
Categories=Development;
